#graph {
  width: 100%;
  height: 100vh;
  pointer-events: auto;
  display: block;
  margin-top: 2rem; /* Spacing between the text and the graph */
}

#node-label {
  position: absolute;
  display: none;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 3px;
  font-family: "Arial", sans-serif;
  transform: translateX(-50%);
}
