#graph {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: auto;
}
#node-label {
  position: absolute;
  display: none;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 3px;
  font-family: "Arial", sans-serif;
  transform: translateX(-50%);
}
