body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* To hide scroll caused by rotation */
  position: relative;
  font-family: Arial, sans-serif;
}

.content {
  position: relative;
  padding: 100px 20px;
  color: white;
  z-index: 1;
}
